@use '../../styles/variables/index' as *;


.Choice {
  display: grid;
  grid-row-gap: $space-24;
}

.choices {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.playButton {
  @include btn-outline;
  font-size: $font-20;
  // font-weight: 600;
  color: $blue;
  border: 1px solid $blue;
  justify-self: center;

  &:hover, &:focus {
    color: $off-white;
    background-color: $blue;
    transform: translateY(-1px);  
  }

  &:active {
    transform: translateY(1px);
  }
}