@use '../../styles/variables/index' as *;

.GameResult {
  display: grid;
  grid-template-rows: min-content, 1fr;
  grid-row-gap: $space-54;
}

.results {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-column-gap: $space-54;
}

// .resultMessage {

// }

// .resultText {

// }

.restartButton {
  @include btn-outline;
  font-size: $font-20;
  // font-weight: 600;
  color: $blue;
  border: 1px solid $blue;
  justify-self: center;

  &:hover, &:focus {
    color: $off-white;
    background-color: $blue;
    transform: translateY(-1px);  
  }

  &:active {
    transform: translateY(1px);
  }
}