@use '../../styles/variables/index' as *;


.button {
  display: grid;
  grid-template-rows: min-content min-content;
  grid-row-gap: $space-8;
}

.image {
  height: 12rem;
  width: 12rem;
  background-color: $blue-light;
  border: 5px solid $light-grey;
  border-radius: 50rem;
  background-size: cover;
  background-position: center;
}

.optionLabel {
  font-size: $font-20;
}