@use '../../styles/variables/index' as *;

.option {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-row-gap: $space-8;
  
  &Image {
    height: 15rem;
    width: 15rem;
    background-color: $blue-light;
    border: 5px solid $light-grey;
    border-radius: 50rem;
    background-size: cover;
    background-position: center;
  }
  
  &Label {
    font-size: $font-16;
  }
  
  
}

.player {
  font-size: $font-20;
}