@use '../../styles/variables/index' as *;

.Rules {
  grid-column-gap: $space-24;
  margin: 0 auto;
  max-width: 50rem;
  color: $dark-grey;
  font-size: $font-12;
}


.button {
  @include btn-outline;
  font-size: $font-16;
  margin-top: $space-24;
}

.changeRules {
  margin-top: $space-12;
  // &Message {
  
  // }

  &Btn {
    color: $red;
    border-color: $red;

    &:hover, &:focus {
      color: $off-white;
      background-color: $red;
    }
  }


}

.modalBtn {
  color: $blue;
  border-color: $blue;

  &:hover, &:focus {
    color: $off-white;
    background-color: $blue;
  }
}


.btnContainer {
  display: flex;
  justify-content: center;
  margin-bottom: $space-24;
  & > :not(:last-child) {
    margin-right: $space-12;
  }
}

