$light-purple: #C7ABDE;
$purple: #843DE1;
$green: #428C09;
$blue: #094D8C;
$blue-light: #D3E5F6;
$orange: #E1A93D;
$red: #E13D3D;
$red-light: #F6D3D3;
$off-white: #F8F9F9;
// $off-white: #FBFAF9;
$dark-grey: #2D2537;