@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,400&display=swap');

$font-12: 1.28rem;
$font-16: 1.6rem;
$font-20: 2rem;
$font-25: 2.5rem;
$font-32: 3.25rem;
$font-39: 3.9rem;
$font-48: 4.8rem;